/*
CSS file for Slant
Author: Moe Alhassan
Year: 2019
*/

.htmlforslant{
			width: 400px;
			height: 485px;
		}

.inputforslant{
			min-width: 360px;
			padding: 2px;
		}
.selectforslant {
			min-width: 360px;
			padding: 2px;
		}
.bodyforslant{
    font-family: "Avenir Next", Helvitica, sans-serif;
    width: 400px;
    height: 485px;
}
.headerforslant{
    background-image: url(/images/header.png);
    width: 400px;
    height: 125px;
    position: relative;
    top: 0px;
    background-repeat: no-repeat;

}
.buttonforslant{
    display: block;
    width: 50%;
    margin: auto;
    padding: 0px;
    text-align: center;
}
.slantforslant{
    display: block;
    width: 50%;
    margin: auto;
    text-align: center;
    color: white;
    font-family: "Avenir", "Helvetica", sans-serif;
}
.scoreforslant{
    font-weight: 600;
    font-size: 5rem;
    margin: 0px;

}
.partyforslant{
    margin: 0px;
}
.containforslant{
    width: 350px;
    height: 290px;
    clear: both;
    margin: auto;
}
.footerforslant{
    width: 400px;
    height: 73px;
    background-color: #E9ECFC;
    position: relative;
    bottom: 0px;

}
.glyphsforslant{
    width: 400px;
    height: 30px;
}
.profileforslant{
    width: 30px;
    height: 100%;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
}
.glyphiconsforslant{
    width: 30px;
    height: 30px;
    font-size: 25px;
    color: white;
}
.glyphholderforslant{
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.settingsforslant{
    float: right;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
}
.numberforslant{
    width: 195px;
    height: 45px;
}
.historyforslant{
    display: inline-block;
    width: 50%;
    margin: 0px 100px;
    text-align: center;
    color: #A0AAE9;
    font-family: "Avenir", "Helvetica", sans-serif;
    vertical-align: middle;
}
.glyphicons2forslant{
    vertical-align: bottom;
}
.nothingsforslant{
    color: #A0AAE9;
    text-decoration: none;
}
.nothingsforslant:hover{
    color: #A0AAE9;
    text-decoration: none;
}
.nothingsforslant:focus{
    color: #A0AAE9;
    text-decoration: none;
}
.nothingsforslant:visited{
    color: #A0AAE9;
    text-decoration: none;
}
.nothingsforslant:active{
    color: #A0AAE9;
    text-decoration: none;
}

.titleforslant{
    font-family: "Avenir", "Helvetica", sans-serif;
    font-weight: 600;
}
.keywordsforslant{
    
    
}
#cardforslant{
    vertical-align: middle;
    margin: auto;
    top: 20px;
}
.list-group{
    margin-bottom: 0px !important;
}
