/*
CSS file for Slant
Author: Moe Alhassan
Year: 2019
*/

html {
			width: 400px;
			height: 485px;
		}

input, select {
			min-width: 360px;
			padding: 2px;
		}
body{
    font-family: "Avenir Next", Helvitica, sans-serif;
    width: 400px;
    height: 485px;
}
.header{
    background-image: url(/images/header.png);
    width: 400px;
    height: 125px;
    position: relative;
    top: 0px;
    background-repeat: no-repeat;
    
}
.button{
    display: block;
    width: 50%;
    margin: auto;
    padding: 0px;
    text-align: center;
}
.slant {
    display: block; 
    width: 50%;
    margin: auto;
    text-align: center;
    color: white;
    font-family: "Avenir", "Helvetica", sans-serif;
}
.score {
    font-weight: 600;
    font-size: 5rem;
    margin: 0px;
    
}
.party{
    margin: 0px;
}
.contain{
    width: 400px;
    height: 290px;
    clear: both;
}
.footer{
    width: 400px;
    height: 73px;
    background-color: #E9ECFC;
    position: relative;
    bottom: 0px;
    
}
.glyphs{
    width: 400px;
    height: 30px;
}
.profile{
    width: 30px;
    height: 100%;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
}
.glyphicons{
    width: 30px;
    height: 30px;
    font-size: 25px;
    color: white;
}
.glyphholder{
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.settings{
    float: right;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
}
.number{
    width: 195px;
    height: 45px;
}
.history{
    display: inline-block; 
    width: 50%;
    margin: 0px 100px;
    text-align: center;
    color: #A0AAE9;
    font-family: "Avenir", "Helvetica", sans-serif;
    vertical-align: middle;
}
.glyphicons2{
    vertical-align: bottom;
}
.nothings{
    color: #A0AAE9;
    text-decoration: none;
}
.nothings:hover{
    color: #A0AAE9;
    text-decoration: none;
}
.nothings:focus{
    color: #A0AAE9;
    text-decoration: none;
}
.nothings:visited{
    color: #A0AAE9;
    text-decoration: none;
}
.nothings:active{
    color: #A0AAE9;
    text-decoration: none;
}